<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUrl</key>
	<string>$(BASEURL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Boton Panico San Isidro</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IdCliente</key>
	<string>$(IDCLIENTE)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Utilizamos tu identificador para relacionarte con tu cuenta en nuestra plataforma y asegurar que nuestros operadores puedan ofrecerte una experiencia personalizada y segura en el sistema.</string>
	<key>NSCameraUsageDescription</key>
	<string>App necesita acceso a la cámara para permitirte tomar fotos y videos para compartir.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Usamos la posicion del dispositivo para su seguridad</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La aplicación comparte tu posición en caso de emergencia con personal autorizado del Municipio de San Isidro. Por ejemplo cuando apretes el boton SOS</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App necesita acceso al micrófono para permitirte grabar notas de voz y enviar mensajes de voz.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to save photo in your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can select photos to attach to reports.</string>
	<key>PositionUrl</key>
	<string>$(POSITIONURL)</string>
	<key>RegistrationPassword</key>
	<string>$(REGISTRATIONPASSWORD)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
