<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobile 911.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
				<key>dateExpires</key>
				<string>20/07/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Eureka.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxAlamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC60CCF043AB9631C68448763DEAC6A9428B0ED8</string>
						<key>dateExpires</key>
						<string>20/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QARNUHFYLX</string>
						<key>name</key>
						<string>SOFLEX SA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QARNUHFYLX.ar.com.soflex.911Emergencias</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>QARNUHFYLX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>mobile 911.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>117e1525-6891-4cea-b1de-078257c5dcd4</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: ar.com.soflex.911Emergencias</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QARNUHFYLX</string>
				<key>name</key>
				<string>SOFLEX SA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
